# {{ ansible_managed }}

# Nginx listen address
SERVICE_LISTEN_IP_ADDRESS={{ nginx_proxy_service_listen_ip_address }}

# Exporter listen address
EXPORTER_LISTEN_IP_ADDRESS={{ nginx_proxy_exporter_listen_ip_address }}

# GENERAL
LOGGING_MAX_FILE={{ nginx_proxy_logging_max_file }}
LOGGING_MAX_SIZE={{ nginx_proxy_logging_max_size }}
